/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
.aly{
  background-color: rgb(255, 255, 255);
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
    background-color: #ff1f1f;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
    background-color: rgb(255, 255, 255);
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #fad2d2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../bg.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}


#Projects-section::before{
 content: "";
 position: absolute;
 background: url('../78.jpg');
 width: 100%;
 height: 23%;
 z-index: -1;
 opacity: 0.3;
 background-color: rgba(221, 221, 221, 0.301);
}


#client{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}

#client img{
    height: 124px;
}
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 1, 1);
    text-align: center;
    cursor: pointer;
  }

.hero-text button:hover {
    background-color: rgba(255, 9, 124, 0.911);
    color: white;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    color: rgb(0, 0, 0);
    font-size: 3.8rem;
    padding: 31px;
}
/* Utility Classes */
.E-primary{
    font-family: 'Bree Serif', serif;
    color: rgb(248, 16, 16);
    font-size: 3.8rem;
    padding: 12px;
    background:url('.../78.jpg') ;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btnn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(247, 58, 58);
    color: white;
    margin: 15px;
    font-size: 1.5rem;
    border-radius: 9px;
    cursor:pointer;
}

.btnc{
    padding: 6px 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(58, 77, 247);
    color: white;
    margin: 15px;
    font-size: 1.5rem;
    border-radius: 9px;
    cursor:pointer;
}
.center{
    text-align: center;
}

#Projects-section::before{
    content: "";
    position: absolute;
    background: url('../78.jpg');
    width: 100%;
    height: 23%;
    z-index: -1;
    opacity: 0.3;
    background-color: rgba(221, 221, 221, 0.301);
}

   .client-item{
       padding: 34px;
   }
   
   #clients img{
       height: 124px;
}

/* Clients Section */
#client-section{ 
    position: relative;
    background-color: #f2f2f2c5;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../bg.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}
.whatapps{
    position: fixed;
    bottom: 40px;
    left: 20px;
}

  
.icon-bar {
    position: fixed;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 25px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
}
  .youtube {
    background: #bb0000;
    color: white;
}