.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  body{
    cursor: url("./img/icons8-cursor-32.png"),auto;
  }
  header:hover{
    
    cursor: url("./img/icons8-cursor-30.png"),auto;
  }
  nav{
    font-weight: bold;
  }
  ::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: pink;
  }
  
  ::selection {
    color: rgb(255, 255, 255);
    background: pink;
  }
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .hide{
    display: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);

  }
  /* .show{
    display: block;
    /* width: 100%;
    height: 100%; */
  
  .box_hero{
animation: bord 3s infinite;
  }
@keyframes bord {
  0%{  border: 2px solid rgb(0, 255, 21);}
  25%{  border: 2px solid rgb(0, 38, 255);}
  75%{  border: 2px solid rgb(255, 0, 0);}
  100%{  border: 2px solid rgb(255, 251, 0);}

}
.box_hero:hover{
  transform: scale(1.2);
}
.box_courses{
  background-color: rgba(253, 253, 253, 0.63);
  border: 2px dotted rgb(255, 0, 255);
}
.box_courses:hover{
  transform: scale(1.2);
  border: 1px double orange;
}

.box {
    /* background: linear-gradient(#e0f7ff73, #f1dbdf7a, #ffffe061); */
backdrop-filter: blur(15px);
/* box-shadow: 24px 9px 12px 1px #9b9b9ba8; */
display: flex;
justify-content: center;
align-items: center;
}

.blub{
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 0;
    /* background-color: rgb(252, 54, 242); */
}
.content{
  /* width: 63vh; */
  height: 63vh;
}
.blob{

    position: absolute;
    width: 500px;
    height: 500px;
    left: 410px;
}
.blob2{

position: absolute;
width: 500px;
height: 500px;
}
.blob3{

    position: absolute;
    width: 500px;
    height: 500px;
    top: 40%;
    left: 890px;

    }
    .blob4{

        position: absolute;
        width: 500px;
        height: 500px;
        }
        .blob5{

            position: absolute;
            width: 500px;
            height: 500px;
            left: 890px;

            }
            .blob6{

              position: absolute;
              width: 500px;
              height: 500px;
              /* right: 890px; */

              }
.blob:nth-child(2){
    filter: blur(50px);
}
.blob2:nth-child(2){
    filter: blur(50px);
}
.blob3:nth-child(2){
    filter: blur(50px);
}
.blob4:nth-child(2){
    filter: blur(50px);
}
.blob5:nth-child(2){
    filter: blur(50px);
}
.blob6:nth-child(2){
  filter: blur(50px);

}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  display: grid;
  justify-content: center;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pop img{
  width: 500px;
  height: 500px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  border: 1px solid skyblue;
}
.pop h2{
  font-size: xx-large;
}

@media only screen and (max-width: 600px) {
   
  .hi{
    font-size: small;
  }

    .blob{

        position: absolute;
        width: 500px;
        height: 500px;
        left: 0px;
    }
    .blob3{

        position: absolute;
        width: 500px;
        height: 500px;
        left: 0px;
    }
    .blob4{

        position: absolute;
        width: 500px;
        height: 500px;
        top: 384vh;

        left: 0px;
    }
    .blob5{

        position: absolute;
        width: 500px;
        height: 500px;
        left: 0px;

        }
        .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 83%;
          position: absolute;
        }
        .pop img{
          display: grid;
          width: 80vw;
          height: 80vw;
        }
        .pop h2{
          font-size: xx-large;
        }
  }



  .cursor{
    z-index: 0;
    position: fixed;
    /* background-color: rgb(0, 204, 255); */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    pointer-events: none;
}
.blobc{

position: absolute;
width: 100%;
height: 100%;
}


/* typing animation */

.hi span {
    color: #BD53ED;
    position: relative;
}

.hi span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #BD53ED;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

.hi span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% { opacity: 0 }
}









